site: Sidey
url: "https://frnd.at"
title: Marlon Etheredge
description: A personal website.
author:
  email: "website.flq0z@passmail.net"
  url: "https://frnd.at"
permalink: pretty

baseurl: "https://frnd.at"

highlighter: none

exclude:
  - .jekyll-cache
  
compress_html:
  clippings: all  
  comments: ["<!-- ", " -->"]

sass:
  sass_dir: _sass
  style: :compressed

plugins:
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-sitemap  

collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: true
    permalink: /:year/:month/:day/:slug
  
defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"